<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{!-- <h1>HELP</h1> --}}
        <div class="main-content">
            {{>header}}
            <p>{{helpmessasge}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>